#game-board {
  border: solid;
  width: 600px;
  height: 600px;
  border-spacing: 0;
  /* 中央寄せ用 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 中央寄せ用 */
}

#results-title {
  font-weight: bold;
  margin-top: 1%;
}

#results {
  width: 60px;
  text-align: center;
}

.inactive {
  display: none;
}

td {
  border: solid;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
}

td:hover {
  background-color: #e0e0e0;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.symbol {
  font-size: 150px;
  font-family: Bradley Hand, cursive;
}
